body {
    overflow: hidden;
}

.bg {
    font-size: 50px;
    background-image: url('/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%, 50%;
    height: 100vh;
    width: 100vw;
}

.name {
    position: absolute;
    top: 20%;
    left: 14%;
}
.playname {
    position: absolute;
    top: 20%;
    left: -5px;
}
.name1 {
    transform: scale(0.55);
    animation: swing 3s infinite ease-in-out;
}

.name2 {
    position: absolute;
    top: 140px;
    transform: scale(0.55);
    margin-left: -170px;
    animation: swing 2.2s infinite ease-in-out;
}

.title {
    position: absolute;
    top: -30%;
    left: 125%;
}

.start,
.btnGroup {
    font-size: 36px;
    font-weight: bold;
    padding: 0 30px;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btnGroup button {
    font-size: 36px;
    font-weight: bold;
    padding: 0 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.textBox {
    width: 45vw;
    height: 75vh;
    /* background-color: #fff; */
    font-size: 50px;
    font-weight: bold;
    color: rgb(174, 0, 0);
}

.riddleBox {
    background-image: url('/riddleBox.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%, 50%;
}
.inputGroup {
    position: absolute;
    width: 15%;
    top: 25%;
    right: 5%;
}

.inputGroup input {
    color: red;
}

.unFnish,
.unFnishText {
    font-size: 24px;
}

@keyframes swing {
    0% {
        transform: rotate(-6deg) scale(0.55) translateX(15px);
    }

    50% {
        transform: rotate(6deg) scale(0.55) translateX(-15px);
    }

    100% {
        transform: rotate(-6deg) scale(0.55) translateX(15px);
    }
}
