body {
    overflow: hidden;
}

.bg {
    font-size: 50px;
    background-image: url('/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%, 50%;
    height: 100vh;
    width: 100vw;
}

.name {
    position: absolute;
    top: 20%;
    left: 14%;
}
.playname {
    position: absolute;
    top: 20%;
    left: -35px;
}
.name1 {
    transform: scale(0.45);
    animation: swing 3s infinite ease-in-out;
}

.name2 {
    position: absolute;
    top: 140px;
    transform: scale(0.45);
    margin-left: -180px;
    animation: swing 2.2s infinite ease-in-out;
}

.title {
    position: absolute;
    top: -30%;
    left: 125%;
}

@media (max-width: 960px) {
    .title {
        position: absolute;
        width: 30vw;
        height: 30vw;
        transform: translateY(-50%) translateX(-50%);
        top: 105%;
        left: 50%;
    }
    .playname {
        position: absolute;
        width: 30vw;
        height: 30vw;
        top: 0%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
    .name {
        position: absolute;
        width: 30vw;
        height: 30vw;
        top: 0%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
    .name1 {
        position: absolute;
        top: 40%;
        left: -120%;
        animation: swingXS 3s infinite ease-in-out;
    }
    .name2 {
        position: absolute;
        top: 75%;
        left: -80%;
        margin-left: 0px;
        animation: swingXS 2.2s infinite ease-in-out;
    }
    .playname .name1 {
        position: absolute;
        top: 40%;
        left: -150%;
        animation: swingXS 3s infinite ease-in-out;
    }
    .playname .name2 {
        position: absolute;
        top: 75%;
        left: -120%;
        margin-left: 0px;
        animation: swingXS 2.2s infinite ease-in-out;
    }
}

.start,
.btnGroup {
    font-size: 36px;
    font-weight: bold;
    padding: 0 30px;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btnGroup button {
    font-size: 36px;
    font-weight: bold;
    padding: 0 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.textBox {
    width: 50vw;
    height: 75vh;
    font-size: 42px;
    font-weight: bold;
    color: rgb(174, 0, 0);
}

.unFnish,
.unFnishText {
    font-size: 24px;
}

.QA {
    width: 90%;
}

.introtext {
    font-size: 42px;
}

.riddleBox {
    background-image: url('/riddleBox.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%, 50%;
}
.inputGroup {
    position: absolute;
    width: 15%;
    top: 25%;
    right: 5%;
}

.inputGroup input {
    color: red;
}

@media (max-width: 960px) {
    .textBox {
        height: 75vh;
    }

    .textBox,
    .introtext {
        font-size: 20px;
    }
    .start,
    .btnGroup {
        font-size: 16px;
        padding: 0 15px;
        top: 92%;
    }

    .btnGroup button {
        font-size: 16px;
        padding: 0 15px;
    }
    .unFnish,
    .unFnishText {
        font-size: 14px;
    }
}

.majang {
    width: 600px;
    height: 250px;
}
@media (max-width: 960px) {
    .majang {
        transform: scale(1.05);
        width: 100%;
    }
}

@keyframes swing {
    0% {
        transform: rotate(-6deg) scale(0.45) translateX(15px);
    }

    50% {
        transform: rotate(6deg) scale(0.45) translateX(-15px);
    }

    100% {
        transform: rotate(-6deg) scale(0.45) translateX(15px);
    }
}

@keyframes swingXS {
    0% {
        transform: rotate(-6deg) scale(0.3) translateX(15px);
    }

    50% {
        transform: rotate(6deg) scale(0.3) translateX(-15px);
    }

    100% {
        transform: rotate(-6deg) scale(0.3) translateX(15px);
    }
}
